/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  flex: 1 0;
  height: 100%;
}
#container {
  display: flex;
  height: 100%;
  width: 100%;
}
#sidebarcontainer {
  width: 20em;
  height: 100%;
  transition: all .2s ease-out;
}
#sidebar {
  display: flex;
  height: 100%;
  overflow: hidden;
}
#sidebar-content {
  margin: 0.5em;
  padding-bottom: 2em;
  overflow: auto;
}
.hidden {
 display:none;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  font-family: Roboto,Arial,sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}
.mapcontrol-ui {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  float: left;
  margin-bottom: 22px;
  text-align: center;
}
.mapcontrol-text {
  color: rgb(25,25,25);
  font-size: 15px;
  line-height: 25px;
  padding-left: 5px;
  padding-right: 5px;
}
.publist-item {
  display: grid;
  grid-template-columns: max-content auto;
}
.publist-icon {
  grid-column: 1;
}
.publist-label {
  padding-top: 0.3em;
  padding-left: 0.5em;
  grid-column: 2;
}
img.publist-iconimg {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.pubinfo-title {
  display: flex;
}
.pubinfo-icon > img {
  width: 28px;
  height: 28px;
}
.pubinfo-titletext {
  margin-left: 10px;
}
.button {
    display: inline-block;
    background: #666;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
